
.pop-up_layer{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	display: none;
}
.pop-up_layer .layer_main{
	position: absolute;
	background: #ffffff;
	border-radius: 4px;
}

.layer_main{
	width: 80%;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.pop-up-footer{font-size: 1.8rem;text-align: center;line-height: 2.2rem;height: 3rem;}
.btn_close{
	background: none;
	border: 0;
	outline: none;
	border: 1px solid #eee;
	padding: 0.4rem 1rem;
	border-radius: 0.4rem;
}
.pop-title{
	color: #EAEAEA;
	font-size: 2rem;
	text-align: center;
	line-height: 4rem;
	font-weight: 200;
}
.consulting{
	width: 100%;
	height: 5rem;
	background: #fff;
}
.pop-content{
	line-height: 3rem;
	color: #EAEAEA;
	text-align: center;
	font-size: 1.4rem;
}
.pop-btn{
	color: #EAEAEA;
	font-size: 1.8rem;
	border: 1px solid #EAEAEA;
	padding: 0.6rem;
	border-radius: 0.4rem;
	line-height: 2rem;
}

.layer_content{
	font-size: 1.2rem;
	border-bottom: 1px solid #eee;
	padding: 1.2rem;
	display: block;
	text-align: center;
	box-sizing: border-box;
	margin: 0;
}
